@page "/"
@using PassSync.Components.Components
@using PassSync.Storage

@foreach(Password password in PasswordManager.GetAll()) {
    <div>
        @password.Id; @password.Name; @password.Text; @password.Username; @password.Url
    </div>
}

<button class="btn btn-primary float" @onclick=StartAddNewPassword>
    <i class="bi bi-plus-lg"></i>
</button>

<Modal @ref=PasswordMaker IsVerticallyCentered=true Style="chil" />

@code {
    private Modal PasswordMaker { get; set; }

    private async void StartAddNewPassword() {
        Dictionary<string, object> parameters = new() { ["SubmitPressed"] = EventCallback.Factory.Create<Password>(this, SubmitAddNewPassword) };
        await PasswordMaker.ShowAsync<PasswordMaker>(title: "New Password", parameters: parameters);
    }

    private async void SubmitAddNewPassword(Password newPassword) {
        PasswordManager.Add(newPassword);
        await PasswordMaker.HideAsync();
    }
}
