@page "/"
@using PassSync.Components.Components
@using PassSync.Storage

@foreach(Password password in PasswordManager.GetAll()) {
    <div>
        @password.Id; @password.Name; @password.Text; @password.Username; @password.Url
    </div>
}

<button class="btn btn-primary float" @onclick=StartAddNewPassword>
    <i class="bi bi-plus-lg"></i>
</button>

@if (PasswordMakerShowing) {
    <PasswordMaker IsNew=PasswordMakerIsNew ExitPressed=@(() => PasswordMakerShowing = false) />
}

@code {
    private bool PasswordMakerShowing { get; set; } = false;
    private bool PasswordMakerIsNew { get; set; } = true;

    private void StartAddNewPassword() {
        PasswordMakerShowing = true;
        PasswordMakerIsNew = true;
    }
}
